* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

#root {
  width: 100%;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}